---
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import Person from "../icons/Person.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
  title="Portfolio de Elias - Desarrollador y Programador Web"
  description="Contacta con Elias Baron, desarrollador web y programador full stack."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row items-center gap-x-4 pb-6 lg:pb-10 animate-fade-down animate-ease-linear"
      >
        Hola, soy Elias!
        <!-- <div class="flex justify-center items-center"><Badge>Disponible</Badge></div> -->
        <Code class="size-20 animate-pulse animate-infinite animate-ease-linear" />
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[500px] animate-fade animate-ease-linear">
        Estudiante universitario de Licenciatura en Informática en la UNQ.
        Interesado por el desarrollo. De <span class="text-sky-400"
          >Buenos Aires, Argentina</span
        >.
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap animate-fade animate-ease-linear">
        <SocialPill href="https://www.linkedin.com/in/elias-baron-390987270/">
          <LinkedInIcon />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/EliasBaron">
          <GitHubIcon />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:eliasnbaron@gmail.com">
          <MailIcon />
          eliasnbaron@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia" class="animate-fade-left animate-ease-linear">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center ">
        <Briefcase class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="animate-fade-right animate-ease-linear">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="animate-fade-left animate-ease-linear">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Person class="size-7" />
        Sobre Mi
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>