<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p>
      Soy un estudiante universitario interesado por el desarrollo web y la
      programación. Actualmente, estoy en la última etapa de la <span
        class="text-sky-600">Tecnicatura en Programación</span
      > en la <span class="text-red-700">UNQ</span>.
    </p>
    <p>
      Me encanta aprender y siempre estoy investigando sobre nuevas tecnologías.
      Disfruto del <span
      class="text-sky-600">constante movimiento</span> y la evolución. Creo que la curiosidad
      es clave en el mundo de la programación (Y en general).
    </p>
    <p>
      Me gusta trabajar en equipo y compartir conocimientos. Me considero una
      persona responsable, proactiva y con <span
      class="text-sky-600">muchas ganas de aprender</span>.
    </p>
    <p>
      Siempre estoy abierto a nuevas oportunidades y listo para crecer en mi
      carrera.
      <span class="text-sky-600"> :)</span>
    </p>
  </div>
  <img
    class="rounded-full size-64 order-1 md:order-2"
    src="https://www.fcbarcelona.com/photo-resources/2022/08/02/ae5252d1-b79b-4950-9e34-6e67fac09bb0/LeoMessi20092010_pic_fcb-arsenal62.jpg?width=1200&height=750"
    alt="my photo"
  />
</article>
