<div class="flex flex-row gap-x-8 items-center">
  <p class="text-lg mb-4 text-pretty">
    Soy un estudiante universitario de Licenciatura en Informática en la
    Universidad Nacional de Quilmes. Me interesa el desarrollo web y
    aplicaciones móviles. Actualmente estoy aprendiendo React y React Native
    para poder desarrollar aplicaciones web y móviles.
  </p>
  <img
    class="size-48 rounded-full"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGiSTcTya8RFkGJxYekdykvrmAB8386Pvm-KPOluSYol5DmrslcgFzAyiCQOfL2Z58g_s"
    alt="my photo"
  />
</div>
