---
import EliasIMG from "../img/elias.jpg";
---

<header class="flex justify-between item-center py-5 w-[1120px] mx-auto">
  
  <img class="size-12 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGiSTcTya8RFkGJxYekdykvrmAB8386Pvm-KPOluSYol5DmrslcgFzAyiCQOfL2Z58g_s" alt="my photo" />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
