---
import EliasIMG from "../img/elias.jpg";
---

<header class="flex justify-between item-center py-5 w-full xl:w-[1120px] mx-auto">
  
  <img class="size-12 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGiSTcTya8RFkGJxYekdykvrmAB8386Pvm-KPOluSYol5DmrslcgFzAyiCQOfL2Z58g_s" alt="my photo" />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
